
<head>
  <title>Counter app</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>

  <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>

  <script type='text/javascript' src = 'index.js'></script>


</head>

<body>
  <center>
    <div id='message'></div>

    <div id='loginScreen'>
      <form>
        <input type ='text' id='username' placeholder='username'>
        <input type ='password' id ='password' placeholder='password'>
        <input type ='submit' value='Login' id='loginButton'>
        <input type='submit' value='Register' id='registerButton'>
      </form>
    </div>

    <div id='countScreen'>
      <h3>
        Welcome <span class='name'></span>!
      </h3>
      <p>
        You've logged in <span class='count'></span> times.
      </p>
    </div>

    <div id='logoutScreen'>
      <center>
        <form>
          <input type='submit' value = 'Log out' id='logoutButton'>
        </form>
      </center>
    </div>
  </center>
</body>

